.navbar{
    background-color: #F9FAFC;
    height: 45px;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px 0 20px;
}

.navbar .brand h2{
    margin: 0;
}

.navbar .brand{
    text-decoration: none;
}

.toggle-bar{
    display: none;
    font-size: 20px;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 5px;
    color: #8B93A6;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .toggle-bar{
        display: block;
    }

    .navbar{
        display: flex;
        justify-content: space-between;
    }

  }

        .user-not{
            font-size: 18px;
            color: var(--primary);
            display: flex;
            float: right;
        }

        
        .user-not li{
            margin-left: 25px;
        }

        .user-not li:last-child{    
        display: flex;
        vertical-align: bottom;
        }

        .user-not .icon {
            border-radius: 50%;
            margin-right: 0 !important;
            color: #fff;
            padding: 4px;
            background-color: var(--primary);
        }

        .user-not .profile {
        font-size: 10px;
        display: inline;
        margin-left: 5px;
        margin-top: -3px;
        }

        .user-not .profile span{
           display: block;
            }

            .user-not .profile span:last-of-type{
               font-weight: bold;
               font-size: 12px;
                 }


